/* default elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-green: #15616d;
  --beige: #ffecd1;
  --dark-blue: #031e32;
  --gold: #ff7d00;
  --brown: #78290f;

  --roboto: "Roboto", sans-serif;
  --roboto-regular: 400;
  --roboto-bold: 700;
}
body {
  background: var(--dark-green);
  font-family: var(--roboto);
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
}

/* Main Styles */
.hero-wrapper {
  width: 40vw;
  height: 75vh;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.hero-wrapper h1,
.heading-wrapper h1 {
  color: var(--gold);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: var(--roboto-bold);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark-blue);
  font-size: 5.6rem;
  margin-bottom: 1.5rem;
}
.hero-wrapper p,
.heading-wrapper p {
  color: var(--dark-blue);
  font-size: 1.9rem;
  line-height: 1.34;
  margin-bottom: 3rem;
  font-weight: var(--roboto-bold);
}

.starter-questions {
  height: 49rem;
  width: 34vw;
  margin: 0 auto 5rem;
  background-color: var(--beige);
  color: var(--dark-blue);
  padding: 4rem 1.5rem;
}

.questionaire label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  color: var(--dark-blue);
}

.week-days input[type="checkbox"]:checked + label::before{
    border-color: var(--brown);
}
.week-days input[type="checkbox"]:checked + label span{
    color: var(--beige);
    z-index: 1;
}
.week-days label::after{
    transition: all 0.2 ease-in-out;
}
.week-days input[type="checkbox"]:not(:checked) + label::after {
    background-color: var(--beige);
}
.week-days input[type="checkbox"]:checked + label::after{
    content: '';
    position: absolute;
    left: 1rem;
    bottom: 0.9rem;
    width: 3.4rem;
    height: 2.6rem;
    background-color: var(--gold);
}

.hide{
    display: none;
}
.show{
    display: block;
}

.submit {
  width: 60%;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  background: var(--gold);
  border: 0.2rem solid var(--gold);
  border-radius: 1rem;
  margin-top: 2.5rem;
  height: 3.6rem;
  color: var(--beige);
}
.submit:hover {
  border-color: var(--brown);
}

/* Styles for part 2 */
.heading-wrapper {
  /*See hero-wrapper for more information, renamed the wrapper for index2*/
  width: 40vw;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.content-wrapper {
  display: flex;
  width: 80vw;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 7rem;
  margin-top: 8rem;
  text-align: center;
  padding: 2rem 0;
  justify-content: space-between;
}
.study-calculations {
  height: 35rem;
  width: 70rem;
  margin: 0 auto;
}
.study-calculations h2 {
  color: var(--gold);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: var(--roboto-bold);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark-blue);
  font-size: 3.8rem;
  margin-bottom: 1.5rem;
}

.study-calculations p {
  color: var(--dark-blue);
  font-size: 2.4rem;
  line-height: 1.34;
  margin-bottom: 3rem;
  font-weight: var(--roboto-bold);
}

.log-sessions {
  height: 36rem;
  width: 36rem;
  margin: 0 auto;
  background-color: var(--beige);
  color: var(--dark-blue);
  padding: 4rem 1.5rem;
  text-align: center;
}

.log-sessions textarea {
  padding: 0.7rem 1rem;
  border: 0.2rem solid var(--gold);
  border-radius: 5px;
  background-color: var(--beige);
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  height: 10rem;
}

.log-sessions input[type="number"] {
  padding: 0.7rem 1rem;
  border: 0.2rem solid var(--gold);
  border-radius: 5px;
  background-color: var(--beige);
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  height: 3.6rem;
}

.questionaire textarea {
  font-family: var(--roboto-regular);
  resize: none;
}

.submit-session {
  width: 70%;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  background: var(--gold);
  border: 0.2rem solid var(--gold);
  border-radius: 1rem;
  height: 3.6rem;
  color: var(--beige);
}

.submit-session:hover {
  border-color: var(--brown);
}

.submit{
    width: 60%;
    font-size: 1.6rem;
    padding: 0.7rem 0;
    background: var(--gold);
    border: 0.2rem solid var(--gold);
    border-radius: 1rem;
    margin-top: 2.5rem;
    height: 3.6rem;
    color: var(--beige);
}
.submit:hover{
    border-color: var(--brown);
}

.progress-container {
  height: 20px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--dark-blue);
  border-radius: 60px;
}

.progress-bar {
  background-color: var(--gold);
  color: var(--dark-blue);
  border-radius: 60px;
  font-size: 1.2rem;
  height: 20px;
  width: 20%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.inputList {
  display: flex;
  margin-bottom: 7rem;
  margin-top: 7rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputList li {
  display: flex;
  list-style: none;
  color: var(--dark-blue);
  font-size: 1.5rem;
  border: 1px solid var(--gold);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
}

.inputList button {
  width: 15%;
  height: 6rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  background: var(--gold);
  border: 0.2rem solid var(--gold);
  border-radius: 1rem;
  color: var(--beige);
}

.inputList button:hover {
  border-color: var(--brown);
}

