/* default elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --dark-green: #15616D;
    --beige:#FFECD1;
    --dark-blue:#001524;
    --gold:#FF7D00;
    --brown:#78290F;

    --roboto: 'Roboto', sans-serif;
    --roboto-regular: 400;
    --roboto-bold:700;
}
body{
    background: var(--dark-green);
    font-family: var(--roboto);
    
}
input:focus, textarea:focus, button:focus{
    outline: none;
}

/* Main Styles */

.hero-wrapper{
    width: 40vw;
    height: 75vh;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
}

.hero-wrapper h1{
    color: var(--gold);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: var(--roboto-bold);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-blue);
    font-size:5.6rem;
    margin-bottom: 1.5rem;
}
.hero-wrapper p{
    color: var(--dark-blue);
    font-size: 1.8rem;
    line-height: 1.34;
    margin-bottom: 3rem;
}

.starter-questions {
    height: 60vh;
    width: 30vw;
    margin: 0 auto;
    background-color: var(--beige);
    color: var(--dark-blue);
    padding: 4rem 1.5rem;
}

.questionaire label {
    display: block;
    margin-bottom: 1rem;  
    font-size: 1.9rem;
}

.questionaire input[type=text], .questionaire input[type=number] {
    padding: 0.7rem 1rem;
    border: 0.2rem solid var(--gold);
    background-color: var(--beige);
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 3.6rem;
}
.questionaire input:focus{
    border: 0.2rem solid var(--brown);
}

.measurement-type{
    margin-bottom: 2rem;
}
.measurement-type label{
    margin-right: 3rem;
}
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.measurement-type label{
    position: relative;
    padding-left: 2.8rem;
    cursor: pointer;
    line-height: 2rem;
    display: inline-block;
    font-size: 1.5rem;
}
.measurement-type label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.2rem solid var(--gold);
    border-radius: 100%;
    background: var(--beige);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.measurement-type label:hover::before{
    border: 0.2rem solid var(--brown);
}
.measurement-type input[type="radio"]:checked + label:before {
    border: 0.2rem solid var(--brown);
}
.measurement-type label:after{
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: var(--gold);
    top: 0.6rem;
    left: 0.6rem;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.measurement-type input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.measurement-type input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.measurement-type p {
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

.week-days input[type="checkbox"]:checked,
.week-days input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.week-days label{
    position: relative;
    padding-left: 2.2rem;
    cursor: pointer;
    line-height: 2rem;
    display: inline-block;
    font-size: 1.5rem;
}
.week-days label:before{
    content: '';
    position: absolute;
    left: 1.3rem;
    top: -1rem;
    width: 3.6rem;
    height: 3.6rem;
    border: 0.2rem solid var(--gold);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.week-days label:first-of-type{
    padding-left: 0;
}
.week-days label:first-of-type::before{
    left: -1rem;
}
/* .week-days label:nth-of-type(2){
    padding-left: 1.8rem;
} */
.week-days label:nth-of-type(2)::before{
    left: 0.93rem;
}
.week-days label:nth-of-type(3){
    padding-left: 2rem;
}
.week-days label:nth-of-type(3)::before{
    left: 1.4rem;
}
.week-days label:nth-of-type(4){
    padding-left: 2rem;
}
.week-days label:nth-of-type(4)::before{
    left: 1.1rem;
}


/* Styles for part 2 */
.log-sessions{
    height: 40vh;
    width: 30vw;
    margin: 0 auto;
    background-color: var(--beige);
    color: var(--dark-blue);
    padding: 4rem 1.5rem;
}

.log-sessions input[type=text], textarea {
    padding: 0.7rem 1rem;
    border: 0.2rem solid var(--gold);
    background-color: var(--beige);
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 10rem;
}

.questionaire textarea {
    font-family: var(--roboto-regular);
    resize: none
}